<app-cabecera [titulo]="'Ion-fab-button'"></app-cabecera>

<ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="arrow-down-circle-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="bottom">
            <ion-fab-button>
                <ion-icon name="logo-github"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-javascript"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-angular"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="arrow-back-circle"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="start">
            <ion-fab-button>
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-chrome"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-react"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!-- fab placed to the top start -->
    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="tertiary">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="end">
            <ion-fab-button>
                <ion-icon name="logo-pwa"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-npm"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-ionic"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!-- fab placed to the bottom start -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="arrow-up-circle"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button>
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-youtube"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!-- fab placed in the center of the content with a list on each side -->
    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button color="dark">
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button color="success">
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <ion-fab-button color="warning">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button color="dark">
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
            <ion-fab-button>
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>