<app-cabecera [titulo]="'Usuarios'"></app-cabecera>
<ion-content class="profiles">

    <ion-refresher #refresh slot="fixed" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content refreshingSpinner="crescent" refreshingText="Cargando..."></ion-refresher-content>
    </ion-refresher>

    <ion-infinite-scroll #infinite threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando datos...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-list>
        <ion-item *ngFor="let usuario of usuarios">
            <div class="profiles">
                <div class="header-profile-id">Profile: {{usuario.id}} {{usuario.first_name}} {{usuario.last_name}}</div>
                <ion-img class="profile-icon" [src]=usuario.avatar></ion-img><br> <br> <br>

            </div>
            <ion-label class="details-profile">
                Nombre: {{usuario.first_name}}
                <br> Apellido: {{usuario.last_name}}
                <br> <br> e-mail: <br>{{usuario.email}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-button color="dark" (click)="onClick()" expand="block" shape="round">Muestra usuarios</ion-button>
    <ion-button color="danger" (click)="limpiar()" expand="block" shape="round">Limpiar</ion-button>
</ion-content>