<app-cabecera [titulo]="'Tabs'"></app-cabecera>
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="pagina1">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>pagina 1</ion-label>
                <ion-badge>6</ion-badge>
            </ion-tab-button>

            <ion-tab-button tab="pagina2">
                <ion-icon name="person-circle"></ion-icon>
                <ion-label>pagina 2</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="pagina3">
                <ion-icon name="map"></ion-icon>
                <ion-label>pagina 3</ion-label>
            </ion-tab-button>


        </ion-tab-bar>
    </ion-tabs>
</ion-content>