ion-slides {
    height: 100%;
}

ion-slide {
    position: relative;
    bottom: 14.5em;
    right: 2.1em;
}

#nav-profile {
    position: relative;
    top: -0.4em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cadetblue;
    height: 4em;
}

h1 {
    position: relative;
    top: 1em;
    color: white;
}

.profile-icon {
    border: groove 0.5em rgb(28, 36, 82);
    border-radius: 1.7em;
    position: relative;
    top: 45px;
    left: 0;
    margin-bottom: 50px;
}

.header-profile-id {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(43, 21, 95);
    font-size: 1.5em;
    position: absolute;
    top: 10px;
}

.details-profile {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top: 0px;
}

.profiles {
    background: linear-gradient(70deg, black, white);
}